<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<div class="content">
    <div class="section blue">
        <strong>{{ .Title }}</strong><br />
    </div>

    <article>
        {{ .Content }}
    </article>

    <div class="section blue">
        <a href="/">← back to home</a>
    </div>
</div>

<div class="footer">
    &copy; Oliver McInnes
</div>
</body>
</html>

